.card {
  position: relative;
  background-color: #ffffff; 
  border: 1px solid #dcdcdc; 
  border-radius: 12px; 
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@font-face {
  font-family: 'NovecentoWideBook';
  src: url('../fonts/Novecento-WideBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentoMediumm';
  src: url('../Fonts/Novecento-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: filter 0.3s;
}

.card-blur {
  filter: blur(2px); 
}

.card-icon {
  font-size: 40px;
  color: #333333; 
  margin-bottom: 10px;
}

.card-title {
  font-family: 'NovecentoMediumm';
  font-size: 13px; 
  font-weight: bold;
  color: #444444; 
  text-align: center;
  padding: 0 8px; /* Espacio interno para evitar que el texto toque los bordes */
  white-space: normal; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
}

.card-description {
  font-family: 'NovecentoWideBook';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); 
  color: #000000; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word; 
  white-space: normal; 
  overflow: visible; 
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}





.card:hover .card-description,
.card:active .card-description {
  opacity: 1;
}

/* Responsividad */
@media (max-width: 768px) {
  .card {
    width: 140px;
    height: 140px;
  }

  .card-title {
    font-size: 13px;
    display: -webkit-box; /* Soporte para truncado con múltiples líneas */
    -webkit-line-clamp: 3; /* Máximo número de líneas antes de truncar */
    -webkit-box-orient: vertical; /* Orientación vertical para el contenedor */
  }

  .card-description {
    font-size: 12px;
  }
}
