.card {
  position: relative;
  background-color: #ffffff; /* Blanco elegante */
  border: 1px solid #dcdcdc; /* Borde gris claro para contraste */
  border-radius: 12px; /* Esquinas más redondeadas */
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hacer hover */
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: filter 0.3s;
}

.card-blur {
  filter: blur(2px); /* Difumina el contenido */
}

.card-icon {
  font-size: 40px;
  color: #333333; /* Icono en gris oscuro */
  margin-bottom: 10px;
}

.card-title {
  font-size: 14px; /* Tamaño ajustado para texto largo */
  font-weight: bold;
  color: #444444; /* Gris oscuro para elegancia */
  text-align: center;
  padding: 0 8px; /* Espacio interno para evitar que el texto toque los bordes */
  word-wrap: break-word; /* Rompe el texto en palabras si es necesario */
  white-space: normal; /* Permite que el texto ocupe múltiples líneas */
  overflow: visible; /* Asegura que todo el contenido sea visible */
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  color: #000000; /* Texto negro para mayor contraste */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word; /* Rompe el texto en palabras si es necesario */
  white-space: normal; /* Permite múltiples líneas de texto */
  overflow: visible; /* Asegura que todo el texto sea visible */
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}





.card:hover .card-description,
.card:active .card-description {
  opacity: 1;
}

/* Responsividad */
@media (max-width: 768px) {
  .card {
    width: 140px;
    height: 140px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-description {
    font-size: 12px;
  }
}
