* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 90px;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
  }
  
  button {
    font-family: inherit;
    border: none;
    cursor: pointer;
  }
  
  /* Contenedor principal */
  .app-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
  }
  
  .main-content {
    padding-top: 20px; /* Ajuste dinámico igual a la altura del header */
  }
  
  /* Sección de denuncia */
  .home-section {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    align-items: start; 
    justify-items: start; 
    background-image: url('../images/BannerHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    margin-bottom: 30px;
    position: relative; /* Se mantiene para usar ::before */
  }
  
  .home-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
    z-index: 1;
  }
  
  .home-section-content {
    grid-column: 1 / span 1; 
    grid-row: 1 / span 2; 
    position: relative;
    z-index: 2; 
    text-align: left; 
    max-width: 500px; 
  }
  
  .home-title,
  .home-description,
  .home-button {
    position: relative;
    z-index: 2;
  }
  
  .home-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .home-button {
    background-color: #009887;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #00695c;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .home-section {
      grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
      grid-template-rows: auto auto auto; /* Se adapta al contenido */
      padding: 20px;
    }
  
    .home-section-content {
      max-width: 100%; /* Ocupa todo el ancho disponible */
      text-align: center; /* Centra el texto */
    }
  
    .home-title {
      font-size: 1.5rem;
    }
  
    .home-description {
      font-size: 1rem;
    }
  
    .home-button {
      font-size: 0.9rem;
      padding: 10px 18px;
    }
  
    .home-button-container {
      justify-content: center; /* Centra el botón en pantallas pequeñas */
    }
  }
  