* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NovecentoWideBold';
  src: url('../Fonts/Novecento-WideBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'NovecentoMediumm';
  src: url('../Fonts/Novecento-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Asegura que el contenedor ocupe toda la altura de la ventana */
  padding: 0;
  /* Sobreescribe el padding-top si ya no es necesario */
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* Contenedor principal */
.app-container {
  width: 90%;
  max-width: 1200px;
  padding: 70px;
  padding-top: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-content {
  padding-top: 20px;
  /* Ajuste dinámico igual a la altura del header */
}

/* Sección de denuncia */
.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  justify-items: start;
  background-image: url('../images/BannerHome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}


.home-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Oscurece la imagen */
  z-index: 1;
}

.home-section-content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 500px;
}

.home-title,
.home-description,
.home-button {
  position: relative;
  z-index: 2;
}

.home-title {
  font-family: 'NovecentoWideBold', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.home-button {
  background-color: #009887;
  color: #ffffff;
  padding: 12px 24px;
  font-family: 'NovecentoMediumm', sans-serif;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-button:hover {
  background-color: #00695c;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%; 
    padding-top: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-section {
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .home-description {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
  }

  .home-button {
    font-size: 0.8rem;
    padding: 8px 14px;
  }

  .home-button-container {
    display: flex;
    justify-content: center;
  }
}



@media (max-width: 480px) {
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%; 
    padding-top: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-section {
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .home-description {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
  }

  .home-button {
    font-size: 0.8rem;
    padding: 8px 14px;
  }

  .home-button-container {
    display: flex;
    justify-content: center;
  }
}

