/* Estilos para el componente NavBar */

.nav-bar {
    background-color: #00695c; /* Verde oscuro */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    display: inline;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #004d40; /* Verde más oscuro */
  }
  
  .active-link {
    background-color: #004d40; /* Verde más oscuro */
    color: #e0f2f1; /* Verde claro */
  }
  