.topic-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 100px);
  overflow: visible; 
  padding-top: 100px;
}

@font-face {
  font-family: 'NovecentoWideBold';
  src: url('../Fonts/Novecento-WideBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentoMediumm';
  src: url('../Fonts/Novecento-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.topic-page {
  overflow: visible; 
}


.topic-title {
  font-family: 'NovecentoWideBold', sans-serif;
  font-size: 24px;
  color: #AE1922;
  margin-top: 60px; 
  margin-bottom: 10px;

}

.topic-subtitle {
  font-family: 'NovecentoMediumm';
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.topic-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px; 

}

.topic-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center; 
}

@media (max-width: 1200px) {
  .topic-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .topic-grid-container {
    margin-left: 5px; 
  
  }
}

@media (max-width: 992px) {
  .topic-grid {
    grid-template-columns: repeat(4, 180px);
  }
}

@media (max-width: 768px) {
  .topic-grid {
    grid-template-columns: repeat(4, 140px);
  }
  .topic-title {
    margin-top: 25px; 
  }
}

@media (max-width: 480px) {
  .topic-grid {
    grid-template-columns: repeat(2, 140px);
  }
  .topic-title {
    margin-top: 35px; 
  }
}